// Fonts
$font-montserrat: var(--font-montserrat);
$font-futurapt: var(--font-futura-pt);

// z-index
$ui-index-negative: -1;
$ui-index-0: 0;
$ui-index-1: 1;
$ui-index-2: 2;
$ui-index-3: 3;
$ui-index-4: 4;
$ui-index-5: 5;
$ui-index-6: 6;

// Paths
$path-fonts: "../../../../public/static/fonts/";
$path-img: "../../../../public/static/img/";
$path-svg: "../../../../public/static/svg/";

// Transition
$transition: 0.2s;
